
.fengshui-header {
	background-image: url('../images/fengshui-header.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	height: 676px;
	color: white;
	padding-top: 100px;
	background-size: cover;
}

.step-one {
	height: 464px; 
	background-color: #fff;
}

.step-one .how-it-works-right {
    width: 35%;
    margin-right: 100px;
    float: right;
    margin-top: 0px;
    margin-left: 0px;
}

.step-one .how-it-works-right img {
	width: 80%;
}

.step-one img {
	margin-top: 50px;
}

/*.step-two img {margin-top: 50px;}*/

.step-three img {
	margin-top: 50px;
}


.step-two {
  height: 363px;
  background-color: #f6f6f7;
}

.step-two .how-it-works-left {
	  width: 35%;
	  float: left;
	  margin-left: 10%;
	  margin-top: -50px;
	  margin-right: 100px;
}

.step-two .how-it-works-right {
  width: 35%;
  float: right;
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 0px;
}

.step-three {
	height: 527px; 
	background-color: #fff;
}

.step-three .how-it-works-right {
	width: 35%;
	float: left;
	margin-top: -40px;
	margin-left: 0px;
	margin-right: 0px;
}

.how-it-works-left {
  width: 35%;
  float: left;
  margin-left: 10%;
  margin-top: 100px;
  margin-right: 100px;
}

.how-it-works-right {
  width: 35%;
  float: left;
  margin-left: 10%;
  margin-top: 100px;
  margin-right: 100px;
}

.publication-sections-fengshui {
	height: 500px; 
	padding-top: 100px; 
	background-color: #eae9ee;
}	

.publication-sections-fengshui img {
	width: 12%;
}

.fengshui-banner {
	background-image: url('../images/top-banner.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	height: 625px;
	color: white;
	padding-top: 150px;
	background-size: cover;
}

