
.fengshui-header {
	background-image: url('../images/fengshui-header.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	height: 676px;
	color: white;
	padding-top: 100px;
	background-size: cover;
}

.step-one {height: 420px; background-color: #fff;}
.step-one img {margin-top: 50px;}
/*.step-two img {margin-top: 50px;}*/
.step-three img {margin-top: 50px;}
.step-one img, .step-two img, .step-three img {width: 25%;}
.step-two {height: 420px; background-color: #f6f6f7;}
.step-three {height: 420px; background-color: #fff;}
.how-it-works-left {
	width: 25%;
  	float: left;
  	margin-left: 20%;
 	margin-top: 100px;
	margin-right: 100px;
}

.publication-sections-fengshui {
	height: 500px; 
	padding-top: 100px; 
	background-color: #eae9ee;
}	

.publication-sections-fengshui img {width: 12%;}

.fengshui-banner {
	background-image: url('../images/top-banner.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	height: 625px;
	color: white;
	padding-top: 150px;
	background-size: cover;
}

